<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 3.데이터프레임 조회

- 보고자 하는 데이터를 즉시 조회할 수 있도록 반복 학습과 실습을 통해 익숙해져야 합니다.
- 데이터프레임을 대상으로 조회하는 방법은 다양합니다.
- 그 중 한 가지 방법을 선택해 일관되게 사용하기를 권고합니다.

In [1]:
# 라이브러리 불러오기
import pandas as pd

## 3.1.데이터 읽어오기

In [2]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips.csv'
tip = pd.read_csv(path)

# 확인
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 3.2.특정 열 조회

- **df.loc[ : , [열 이름1, 열 이름2,...]]** 형태로 조회할 열 이름을 리스트로 지정합니다.
- 조회할 열이 하나면 리스트 형태가 아니어도 됩니다.
- 열 부분은 생략할 수 있었지만, **행 부분을 생략할 수는 없습니다.**
- 하지만 **df[[열 이름1, 열 이름2,...]]** 형태로 인덱서를 생략함이 일반적입니다.

In [3]:
# total_bill 열 조회
tip['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [4]:
# tip, total_bill 열 조회
tip[['tip', 'total_bill']]

      tip  total_bill
0    1.01       16.99
1    1.66       10.34
2    3.50       21.01
3    3.31       23.68
4    3.61       24.59
..    ...         ...
239  5.92       29.03
240  2.00       27.18
241  2.00       22.67
242  1.75       17.82
243  3.00       18.78

[244 rows x 2 columns]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20.png' width=120 align="left"/>

[문1] tip 데이터프레임에 대해 아래 요구사항에 맞는 구문을 작성하고 실행하세요.

In [5]:
# 상위 5개 행 조회
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
# tip 열만 조회
tip['tip']

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [ ]:
# tip, day, time 열만 조회
tip[['tip', 'day', 'time']]

      tip   day    time
0    1.01   Sun  Dinner
1    1.66   Sun  Dinner
2    3.50   Sun  Dinner
3    3.31   Sun  Dinner
4    3.61   Sun  Dinner
..    ...   ...     ...
239  5.92   Sat  Dinner
240  2.00   Sat  Dinner
241  2.00   Sat  Dinner
242  1.75   Sat  Dinner
243  3.00  Thur  Dinner

[244 rows x 3 columns]

In [ ]:
# tip, day, time 열만 tip 열 기준으로 내림차순 정렬해서 조회
tip[['tip', 'day', 'time']].sort_value(by='tip', ascending=False)

       tip   day    time
170  10.00   Sat  Dinner
212   9.00   Sat  Dinner
23    7.58   Sat  Dinner
59    6.73   Sat  Dinner
141   6.70  Thur   Lunch
..     ...   ...     ...
0     1.01   Sun  Dinner
111   1.00   Sat  Dinner
92    1.00   Fri  Dinner
67    1.00   Sat  Dinner
236   1.00   Sat  Dinner

[244 rows x 3 columns]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_20e.png' width=45 align="left"/>

## 3.3.열 범위 조회

- 범위 조회는 **df.loc[:, 열 이름1:열 이름2]** 형태로 조회합니다.
- 범위는 하나만 지정할 수 있어 리스트가 될 수 없으니 대괄호를 사용하지 않습니다.
- 범위 마지막 열도 조회 대상에 포함됩니다.

In [ ]:
# sex ~ time 열 조회
tip.loc[:,'sex':'time'].head()

# 특정 행 조회

In [ ]:
tip.loc[[1, 3]]

   total_bill   tip   sex smoker  day    time  size
1       10.34  1.66  Male     No  Sun  Dinner     3
3       23.68  3.31  Male     No  Sun  Dinner     2

## 3.4.조건으로 조회

- **df.loc[조건]** 형태로 조건을 지정해 조건에 만족하는 데이터만 조회할 수 있습니다.
- 우선 조건이 제대로 판단이 되는지 확인한 후 그 **조건을 대괄호 안에** 넣으면 됩니다.

**1) 단일 조건 조회**

In [ ]:
tip.iloc[1:5]

In [ ]:
# tip 열 값이 6.0 보다 큰 행 조회
tip.loc[행, 열]
tip.loc[tip['tip'] > 6.0]

- 조건을 변수로 선언해 사용할 수 있습니다.

In [ ]:
# tip 열 값이 6.0 보다 큰 행 조회
cond = tip['tip'] > 6.0
tip.loc[cond]

**2) 여러 조건 조회**

- [ ]안에 조건을 여러개 연결할 때 and와 or 대신에 &와 |를 사용해야 합니다.
- 그리고 각 조건들은 **(조건1) & (조건2)** 형태로 괄호로 묶어야 합니다.

In [ ]:
# and로 여러 조건 연결
tip.loc[(tip['tip'] > 6.0) & (tip['day'] == 'Sat')]

In [ ]:
# or로 여러 조건 연결
tip.loc[(tip['tip'] > 6.0) | (tip['day'] == 'Sat')]

**3) 편리한 isin(), between() 메서드**

- **isin([값1, 값2,..., 값n])**: 값1 또는 값2 또는...값n인 데이터만 조회합니다.

In [ ]:
# 값 나열
tip.loc[tip['day'].isin(['Sat', 'Sun'])]

- 위 구문은 다음과 같은 의미를 갖습니다.

In [ ]:
# or 조건
tip.loc[(tip['day'] == 'Sat') | (tip['day'] == 'Sun')]

- **between(값1, 값2)**: 값1 ~ 값2까지 범위안의 데이터만 조회합니다.

In [ ]:
# 범위 지정
tip.loc[tip['size'].between(1, 3)]

- 위 구문은 다음과 같은 의미를 갖습니다.

In [ ]:
# and 조건
tip.loc[(tip['size'] >= 1) & (tip['size'] <= 3)]

**4) 조건을 만족하는 행의 일부 열 조회**

- **df.loc[조건, ['열 이름1', '열 이름2',...]]** 형태로 조회할 열을 리스트로 지정합니다.

In [ ]:
# 조건에 맞는 하나의 열 조회
tip.loc[tip['size'] >= 5, ['tip']]

In [ ]:
# 조건에 맞는 여러 열 조회
tip.loc[tip['size'] >= 5, ['total_bill', 'tip', 'size']]

## 3.5.인덱스 초기화(복습)

- 다음과 같은 경우 인덱스 초기화가 필요합니다.
    - 기존 데이터프레임에서 일부 행을 가져와 새로 만든 데이터프레임
    - 일부 행이 지워진 데이터프레임
- 특히 0부터 시작하는 정수형 인덱스의 경우 초기화를 하는 것이 좋습니다.
- 깔끔한 데이터가 사용하기 좋은 데이터입니다.

In [ ]:
# tip 열이 6 이상인 행 축출
good = tip.loc[tip['tip'] >= 6]

# 확인
good

- **reset_index()** 메서드로 인덱스를 초기화합니다.
- 기존 인덱스 값은 의미가 없으므로 drop=True 옵션을 지정해 제거합니다.
- inplace=True 옵션을 지정하지 않으면 실제 반영되지 않습니다.

In [ ]:
# 인덱스 초기화
good.reset_index(drop=True, inplace=True)

# 확인
good

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30.png' width=120 align="left"/>

[문1] pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [ ]:
# 라이브러리 불러오기

[문2] 다음 경로의 파일을 읽어 admission 데이터프레임을 만드세요.
- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/admission.csv'

In [ ]:
# 데이터 읽어보기



# 확인

[문3] 범주형 값을 갖는 RANK 열에 어떤 값들이 몇 개씩 있는 지 확인하세요.

In [ ]:
# RANK 값 확인

[문4] RANK 열만 확인하세요.

In [ ]:
# RANK 열

[문5] GRE, GPA 열만 확인하세요.

In [ ]:
# GRE, GPA 열

[문6] GRE, GPA 열의 상위 10개 행만 확인하세요.

In [ ]:
# GRE, GPA 열

[문7] GRE 평균을 gre_mean으로 선언하고 그 값을 확인하세요.

In [ ]:
# GRE 평균


# 확인

[문8] 다음 요구사항에 따라 구문을 하나의 코드셀에 순서대로 작성하고 확인하세요.

- GRE가 330 이상인 행을 g1 데이터프레임으로 선언하세요.
- g1 데이터프레임의 GPA가 9.0 이상인 행을 g2 데이터프레임으로 선언하세요.
- g2 데이터프레임 인덱스를 초기화하세요.(기존 인덱스는 제거)

In [ ]:
# GRE가 330 이상


# GPA가 9.0 이상


# 인덱스 초기화


# 확인

[문9] admission 데이터프레임 GRE가 평균 이상이면서 RANK가 4인 행을 g3 데이터프레임으로 선언하고 확인하세요.

In [ ]:
# GRE가 GRE 평균 이상, RANK가 4



# 확인

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_30e.png' width=45 align="left"/>